{% extends 'blog/base.html' %}
{% load static %}

{% block body %}
  <div class="columns">
    <div class="column">
      {% include 'blog/top_menu.html' with active_item='news-feed' %}
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Author</th>
            <th>Title</th>
            <th>Body</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for post in posts %}
            <tr>
              <td>{{ post.author.username }}</td>
              <td>{{ post.title }}</td>
              <td>
                {{ post.body|truncatewords:3 }}
              </td>
              <td>
                <form action="{% url 'blog:mark-as-read' pk=post.pk %}" method="post">
                    {% csrf_token %}
                    <input class="button is-small" type="submit" value="mark as read">
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
