{% extends 'blog/base.html' %}
{% load static %}

{% block body %}
  <div class="columns">
    <div class="column">
      {% include 'blog/top_menu.html' with active_item='subscriptions' %}
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Author</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          {% for subscription in subscriptions %}
            <tr>
              <th>{{ subscription.username }}</th>
              <td>
                {% if user.is_authenticated %}
                  <form action="{% url 'blog:unsubscribe' pk=subscription.pk %}" method="post">
                    {% csrf_token %}
                    <input class="button" type="submit" value="Unsubscribe">
                  </form>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
