{% load i18n %}
<div class="tabs is-boxed">
  <ul>
    <li class="{% if active_item == 'author-list' %}is-active{% endif %}">
      <a href="{% url 'blog:author-list' %}">
        <span>{% trans 'Author list' %}</span>
      </a>
    </li>
    {% if user.is_authenticated %}
    <li class="{% if active_item == 'subscriptions' %}is-active{% endif %}">
      <a href="{% url 'blog:subscriptions' %}">
        <span>{% trans 'Subscriptions' %}</span>
      </a>
    </li>
    <li class="{% if active_item == 'post-create' %}is-active{% endif %}">
      <a href="{% url 'blog:post-create' %}">
        <span>{% trans 'New post' %}</span>
      </a>
    </li>
    <li class="{% if active_item == 'my-posts-list' %}is-active{% endif %}">
      <a href="{% url 'blog:my-posts-list' %}">
        <span>{% trans 'My posts' %}</span>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
